<?xml version="1.0"?>

<plugin
    xmlns="http://xml.first-ms3d.jp/masspp/plugin"
    xsi:schemaLocation="http://xml.first-ms3d.jp/masspp/plugin http://first-ms3d.jp/development/masspp-plugin110.xsd"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <name>Agilent Input</name>
  <version>1.10</version>
  <provider>Eisai Co., Ltd.</provider>
  <link>AgilentInputPlugin</link>
  <function>
    <call type="open_file">
      <call-name>open</call-name>
      <call-method static="true">
        <class-name>kome.io.agilent.AgilentInputManager</class-name>
        <method-name>open</method-name>
      </call-method>
      <params>
        <param>
          <param-name>name</param-name>
          <param-value>Agilent sample file</param-value>
        </param>
        <param>
          <param-name>ext</param-name>
          <param-value>d</param-value>
        </param>
      </params>
    </call>
    <call type="supported_file">
      <call-name>checkAgilentFolder</call-name>
      <call-method static="true">
        <class-name>kome.io.agilent.AgilentInputManager</class-name>
        <method-name>isAgilentFolder</method-name>
      </call-method>
    </call>
  </function>
  <components>
    <component>
      <component-name>import</component-name>
      <component-desc>import Agilent file</component-desc>
      <component-calls>
        <component-call>open</component-call>
      </component-calls>
    </component>
  </components>
  <packages>
    <package>
      <package-name>Identification</package-name>
      <package-components>
        <package-component>import</package-component>
      </package-components>
    </package>
    <package>
      <package-name>Quantitation</package-name>
      <package-components>
        <package-component>import</package-component>
      </package-components>
    </package>
    <package>
      <package-name>Data Processing</package-name>
      <package-components>
        <package-component>import</package-component>
      </package-components>
    </package>
    <package>
      <package-name>Data Processing</package-name>
      <package-components>
        <package-component>import</package-component>
        <package-component>export</package-component>
      </package-components>
    </package>
    <package>
      <package-name>Viewer</package-name>
      <package-components>
        <package-component>import</package-component>
      </package-components>
    </package>
    <package>
      <package-name>MassBank</package-name>
      <package-components>
        <package-component>import</package-component>
      </package-components>
    </package>
  </packages>
</plugin>
